{% extends "layout.html" %}
{% block navigation %}{% endblock %}
{% block body %}
<h2>Dashboard</h2>
  <ul>
    <li><a href="{{ url_for('list_users') }}">List Users </a></li>
    <li><a href="{{ url_for('list_clients') }}">List Clients </a></li>
    <li><a href="{{ url_for('list_vhosts') }}">List Vhosts</a></li>
</ul>
{% endblock %}
