{% extends "layout.html" %}
{% block body %}
<script>
    $(function(){
        $('.deamon-turn-on').click(function(){
            bootbox.alert("<b>So you want to start the deamon?</b><br><br><p>Enter the following in your terminal as <b>root</b> user:</p><p><pre><code>python gon-scripts/deamon.py</code></pre></p>", function() {
            });
        })
    })
</script>

<h2>Deamon</h2> 

<p>
{% if client.deamon_active %}
<button type="button" class="btn btn-success">Deamon is running!</button>
{% else %}
<button type="button" class="btn btn-danger">Deamon is disabled!</button>
<button type="button" class="deamon-turn-on btn btn-default">turn on</button>
{% endif %}  
</p>

<table class="table table-striped">
<thead>
<tr>
    <th>#</th>
    <th>From IP</th>
    <th>Command</th>
    <th>Sent at</th>
    <th></th>

</tr>
</thead>
<tbody>
{% for cmd in commands %}
<tr>
    <th scope="row">{{ cmd.id }} </th>
    <td>{{ cmd.ip }}</td>
    <td>{{ cmd.command }}</td>
    <td>{{ cmd.created }}</td>
    <td><div class="glyphicon glyphicon-ok-circle"></div></td>
</tr>
{% else %}
    Unbelievable.  No entries here so far!
{% endfor %}
</tbody>
</table>

{% endblock %}
