{% extends "layout.html" %}
{% block body %}
 
<h3>Terminal scripts for automating workflows</h3>
<p><strong>The goal of this project is to support the development team with publishing &amp; common tasks and make these complicated tasks more accessible for less technical people.</strong></p>
<p>This package contains a few python 2.7 scripts to help the user with common enviroment publications, installations, updates and setup tasks in an organized way to increase productivity, promote security and minimize workflow conflicts.</p>
<p><strong>Environment tasks handled by the scripts are:</strong></p>
<ul>
<li>Git cloning &amp; fetching</li>
<li>Local apache vhosts configurations</li>
<li>Composer library installations (backend)</li>
<li>Asset (symlink) generation. (and block write permissions)</li>
<li>Bower library installations (frontend)</li>
<li>Handle Cache, logs &amp; upload folder creation and permissions</li>
</ul>
<p><strong>Publishing functionalities of the scripts are:</strong></p>
<p><em>Note: For security and structure reasons it's only possible to publish to the production server from the acceptation server.</em> </p>
<ul>
<li>Autosync/upload changes from the local enviroment to an online shadow environment (example: branchname.username.grondontwikkelingnederland.nl)</li>
<li>Update database scheme of shadow onviroment </li>
<li>Automaticly register an ssh key on bitbucket</li>
<li>Commit &amp; push the local changes to the bitbucket branch</li>
</ul>
<p><strong>Extra administrator functionalities are:</strong></p>
<ul>
<li>Pull/merge the changes from the bitbucket branch to the accepation enviroment.</li>
<li>Publish/upload from the acceptation to the production enviroment. (only newer files are overwritten or created)</li>
<li>Deleting files on the production enviroment can be done with a seperate command </li>
<li>Database Scheme Update from acceptation to production</li>
</ul>
<p><em>The scripts are Linux-first so there could be some features malfunctioning in windows and mac in the beginning. If you have problems installing it or wanna report a bug please contact me at <a href="rick.overman@grondontwikkelingnederland.nl">rick.overman@grondontwikkelingnederland.nl</a> or develop/fix it yourself by creating and committing the changes to a seperate branch. If usefull for the mainstream users it will be merged to the master. (please remember to user <strong>virtualenv</strong> when installing new python 3rd party libraries with pip)</em> </p>
<h2>Installation</h2>
<p>Just download the latest package with the following command:</p>
<pre><code>git clone git@bitbucket.org:rickoverman/gon-scripts.git
</code></pre>
<p><strong>System requirements:</strong></p>
<ul>
<li>Python 2.7</li>
<li>Git</li>
<li>PHP 5.4</li>
<li>Mcrypt php extension (mollie payments)</li>
<li>Composer</li>
<li>Bower</li>
<li>pip (linux/mac) [pyhton package manager] </li>
<li>easy_install (windows) [python package manager]</li>
</ul>
<h1>Getting Started</h1>
<p>Although it doesn't really matter, but i would recommend to place this <strong>gon-scripts</strong> folder in the root directory where you want the vhosts to be located for structure sake; for example at:</p>
<pre><code>/var/www/vhosts/gon-scripts
</code></pre>
<p>Now to make sure our 3rd party python libraries are used by python we need to switch to our virtual enviroment with:</p>
<pre><code>source scripts/venv/bin/activate
</code></pre>
<h2>Registering your computer</h2>
<p>To start including your enviroments into the publishing framework you first need to register the user and his computer, this is done as followed:</p>
<pre><code>python gon-scripts/register.py
</code></pre>
<p>This command will ask you a few questions about it's user and computer which it will store in a database located on the production server for logging user script execution activities.</p>
<p>Also it wil automaticly create and store a ssh key in the bitbucket account, enabling access to the grondontwikkelingnederland.nl repository.</p>
<h2>Installing the environment</h2>
<p>It is posible to create multiple enviroments on your computer as vhosts. </p>
<p>To install a fresh enviroment you can use the following script. </p>
<p><em>If you dont define a name for your virtualhost the name of the repository (grondontwikkelingnederland.nl) will be used.</em> </p>
<pre><code>python gon-scripts/install.py [virtualhost]
</code></pre>
<p>Example:</p>
<pre><code>python gon-scripts/install.py local.grondontwikkelingnederland.nl
</code></pre>
<p>This will create a folder in in the the root of your vhosts that you have defined in your previous step (while you were registering your computer) and clones, installs and configures the symfony enviroment.</p>
<p><u><em>When this step is finished just add the vhost to your apache configuration, restart apache and you're ready to go!</em></u></p>
<h2>Updating the enviroment</h2>
<p>Now that you're up an running the user can start the development on his local environment. If you have set the autosync flag to yes in the first pc registration step the enviroment will automaticly sync with its online shadow enviroment. If not you can turn the syncing on and off with the following command:</p>
<pre><code>python gon-scripts/sync.py -on local.grondontwikkelingnederland.nl
python gon-scripts/sync.py -off local.grondontwikkelingnederland.nl
</code></pre>
<p>To show the status of the syncronization:</p>
<pre><code>python gon-scripts/sync.py
</code></pre>
{% endblock %}
