<!doctype html>
<head>

<title>Codegen WebUI/title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- jQuery (ofcourse!)-->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<!-- qTip tooltipping -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css">
<script src="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>

<!-- Bootbox bootstrap dialogging -->
<script src="/static/bootbox.min.js"></script>

<!-- Custom javascript functionalities -->
<script src="/static/webvanced.js"></script>

</head>
<body>
<div class="page">
 
  <h1><div class="logo"></div>Publishing Web Interface</h1>
  <div class="logged_in">

  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">login</a>
  {% else %}

  {{ session.logged_in.name }}
    
  <a href="{{ url_for('logout') }}">&nbsp;logout</a>&nbsp;
  <a   href="{{ url_for('settings') }}">settings</a>
  <a   href="{{ url_for('list_users') }}">users</a>
  {% endif %}
  </div>
  <div class="metanav">
  <br>
  {% block navigation %}
    <ul class="mainnav">  
  {% if not session.logged_in %}
  {% else %}
  <li><a class="btn btn-primary" href="/">Vhosts</a></li>
        <li><a  class="btn btn-default" href="{{ url_for('list_log') }}">Log</a></li>
        <li><a  class="btn btn-warning" href="{{ url_for('list_users') }}">Users</a></li>
        <li><a  class="btn btn-success" href="{{ url_for('deamon') }}">Deamon</a></li>
  {% endif %}
        <li><a  class="btn btn-info" href="{{ url_for('info') }}">More info</a></li>
    </ul>
  {% endblock %}
  </div>
  {% for message in get_flashed_messages() %}
  <p class="bg-success form-message" style="padding:10px">{{ message }}</p>
  {% endfor %}
  {% block body %}
  {% endblock %}
</div>
</body>
</html>
