{% extends "layout.html" %}
{% block body %}
   <h2>Users</h2>
   <p>
   <button type="button" class="btn btn-warning">Create new user</button> 
   </p> 
    
   <table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    
    {% for user in users %}
    <tr>
        <th scope="row">{{ user.id }} </th>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td><div class="glyphicon glyphicon-ok-circle"></div></td>
    </tr>
    {% else %}
        Unbelievable.  No entries here so far!
    {% endfor %}
    
    </tbody>
    </table>
{% endblock %}
