{% extends "layout.html" %}
{% block body %}
 
    {% if user %}
    {{ user.name }}
    {% endif %}
    {% if client %}
    {{ client.ip }}
    {% endif %}
 
    <h2>Vhosts</h2>
    <!--
    <p>
    <button type="button" class="btn btn-warning">Install new vhost</button>
    </p>
    -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="30">#</th>
          <th>Vhost folder &nbsp; <span class="vhosts-root">/var/www/vhosts/</span></th>
          <th></th>
          <th></th>
          <th width="30"></th>
        </tr>   
      </thead>
      <tbody>    
    {% for vhost in vhosts %}
    <tr>
        <th scope="row">{{ vhost.id }}.</th>
        <td><a href="http://{{ vhost.folder }}">{{ vhost.folder }}</a></td>
        <td></td>
        <td><!--<div class="glyphicon glyphicon-ok-circle"></div>--></td>
        <td>
        
        <!-- Small button group -->
        <div class="btn-group" style="float:left;">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li><a href="#">Publish to Bitbucket</a></li>
          <li><a href="#">Check the Log</a></li>

          </ul>
        </div>
        
        
        <!-- <button onclick="gon.update_acceptation({{ vhost.id }});" type="button" class="button-update_acceptation glyphicon glyphicon-repeat"></button> --></td>
    </tr>
    <tr>
    {% else %}
    Unbelievable.  No entries here so far
    {% endfor %}
    </tbody>
    </table>
{% endblock %}
