{% extends "layout.html" %}
{% block body %}
    
  {% if user %}
  {{ user.name }}
  {% endif %}

  {% if client %}
  {{ client.ip }}
  {% endif %}
  
  <h2>Client Computer Listing:</h2>
   <ul class="entries">
  {% for client in clients %}
  <li><h2><a href="{{ url_for('client_list_vhosts') }}/{{ client.id }}">{{ client.id }}. {{ client.ip }} - {{ client.os }}</a></h2>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
