{% extends "layout.html" %}
{% block navigation %}<ul class="mainnav">
 
        <li><a  class="btn btn-info" href="{{ url_for('info') }}">More info</a></li>
    </ul>{% endblock %}

{% block body %}
  <h2>Login</h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  
   <form method="POST">  
    <div class="form-group">
    <label for="usernme">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Enter name">
  </div>
       
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Enter password">
  </div>
     <input type="submit" class="btn btn-default" value="Submit">
  </form>
{% endblock %}
