{% extends "layout.html" %}
{% block body %}
   <h2>Settings</h2>
    
   <form>
   
    <div class="form-group">
        <label for="exampleInputName">Git repository url</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="git@bitbucket.org:benjaminhillier/grondontwikkelingnederland.nl.git">
    </div>
               

    <div class="form-group">
        <label for="exampleInputName">Name</label>
        <input type="text" class="form-control" id="exampleInputName" placeholder="Enter name">
    </div>
    
    <div class="form-group">
        <label for="exampleInputUserName">Username</label>
        <input type="text" class="form-control" id="exampleInputUserName" placeholder="Enter username">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    
    
    <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
    
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
    
    
    
    
{% endblock %}
