@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,700italic);

body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Lato', sans-serif !important; margin: 0; }
h1              { font-size:24px !important ;color:#225275 !important;  text-align:right;}
h2              { font-size: 20px !important; color:#FF5807 !important; font-weight:bold !important; margin-bottom: 1.2em!important; }

.page           { margin: 2em auto; width: 45em; 
                  padding: 0.8em; background: white; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 4em; background: #fafafa; border-bottom: 2px solid #eee; }
.metanav .mainnav {list-style-type: none;  padding: 0;  }
.metanav .mainnav li { float:left !important ; width:100px;margin-right:10px  }                  
                  
.metanav .mainnav a { float:left !important ; width:100px;}              
                  
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }


/* The Stylez */

.logo {
    background: transparent url("sprite.png") no-repeat scroll 0px -122px;
    width: 243px;
    height: 69px;
    margin: 29px 0px 0px 33px;
}

.entries li h2 a {  
    font-size:12px 
}

.logged_in{
    text-align: right;font-size:12px; color:#FF5807
}

.form-message{
    -moz-border-radius: 5px;
    border-radius: 5px;
    color:#84af72;
}


.vhosts-root{
    color:#FF5807
}












